html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #f5f5f5;
}

.wrapper {
    margin: 0 auto;
    max-width: 1170px;
    height: inherit;
}

.block_text {
    text-align: center;
}

.block_text h1 {
    font-family: "Open Sans Semibold";
    font-size: 50px;
    margin-block-end: 0;
    line-height: 0.915;
    color: #585858;
}

.block_text h1 span {
    color: #fd8d77;
}

.block_text p {
    display: inline-block;
    font-family: "Open Sans Regular";
    font-size: 16px;
    color: rgba(65, 65, 65, 0.702);
}

.block_button {
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: #f1f1f1;
    border-radius: 27px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
    width: 228px;
    height: 55px;
    margin: 0 17px;
    font-family: "Open Sans Regular";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 18px;
    cursor: pointer;
}

.block_button span {
    position: absolute;
    height: 1px;
    width: 16px;
    background-color: black;
    left: 50px;
    top: 26.5px;
}

.block_button span:nth-child(1) {
    transform: translateY(0) rotate(-90deg);
}

.logo {
    display: inline-block;
    margin-left: 15px;
    margin-top: 82px;
}

.logo img {
    width: 150px;
}

.menu {
    float: right;
    margin-right: 15px;
    margin-top: 82px;
}

.menu ul {
    position: absolute;
    backdrop-filter: blur(5px);
    width: 100%;
    margin-block-start: 0;
    top: -100%;
    right: 0;
    transition: top .5s;
}

.menu ul li {
    list-style-type: none;
    margin: 25px 0;
    font-family: "Open Sans Semibold";
    font-size: 25px;
    color: #6e6e6e;
    text-align: center;
}

.menu ul li span {
    color: #fd8d77;
}

.menu button {
    position: relative;
    background-color: transparent;
    width: 34px;
    height: 28px;
    border: none;
    cursor: pointer;
}

.menu button span {
    position: absolute;
    background-color: #706b73;
    width: 34px;
    height: 4px;
    border-radius: 3px;
    right: 0;
    top: 0;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.menu button span:nth-child(1) {
    transform: translateY(8px);
}

.menu button span:nth-child(3) {
    transform: translateY(16px);
}

.open {
    display: block;
}

.menu.open ul {
    top: 0;
}

.menu.open button span:nth-child(1) {
    opacity: 0;
}

.menu.open button span:nth-child(2) {
    transform: translateY(0) rotate(45deg);
    background-color: #ff5c36;
}

.menu.open button span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
    background-color: #ff5c36;
}

.header-content {
    background-color: #f5f5f5;
    padding-top: 115px;
}

.header-content .text {
    text-align: center;
    color: #6e6e6e;
}

.header-content .text h1 {
    font-family: "Open Sans Semibold";
    font-size: 50px;
    margin-block-end: 0;
}

.header-content .text h1 span {
    color: #fc7254;
}

.header-content .text p {
    display: inline-block;
    width: 705px;
    margin-block-start: 27px;
    font-family: "Open Sans Regular";
    font-size: 16px;
    line-height: 1.563;
}

.header-form {
    background-color: #f5f5f5;
    padding-top: 100px;
}

.header-form form {
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
    width: 372px;
    text-align: center;
}

.header-form form .formLabel {
    font-family: "Open Sans Regular";
    font-size: 20px;
    color: #211a18;
    display: inline-block;
    margin-top: 26px;
    margin-bottom: 45px;
}

.header-form form .formLabel span {
    color: #ff5c36;
}

.header-form form input, .header-form form textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    opacity: 0.50;
    width: 294px;
    font-family: "Open Sans Regular";
    font-size: 15px;
    line-height: 1.667;
    margin-bottom: 35px;
}

.header-form form textarea {
    resize: none;
    height: 90px;
    margin-bottom: 0;
}

.header-form button {
    position: relative;
    font-family: "Open Sans Regular";
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 27px;
    background-color: rgb(255, 92, 54);
    box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
    width: 236px;
    height: 53px;
    margin: 20px 0 22px 0;
    cursor: pointer;
}

.header-form button img {
    position: absolute;
    right: 32px;
    top: 23px;
}

.header-form form .error {
    border-bottom: 1px solid red;
    margin-bottom: 0;
}

.header-form form .inputText .errorLabel {
    display: block;
    font-family: "Open Sans Regular";
    font-size: 15px;
    color: red;
    text-align: left;
    margin: 3px 0 12px 38px;
}

.working-process {
    background-color: #ffffff;
    height: 773px;
    margin-top: 60px;
}

.working-process .block_text {
    padding-top: 80px;

}

.working-process .block_text p {
    width: 689px;
}

.working-process_tiles {
    margin: 82px 15px 0 15px;
}

.working-process_tiles .tile {
    float: left;
    position: relative;
    box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21);
    width: 262px;
    height: 263px;
    text-align: center;
}

.working-process_tiles .tile:nth-child(1) {
    background-color: #4eb2f7;
    margin-right: 31px;
}

.working-process_tiles .tile:nth-child(2) {
    background-color: #c049f8;
    margin-right: 30px;
}

.working-process_tiles .tile:nth-child(3) {
    background-color: #817eff;
}

.working-process_tiles .tile:nth-child(4) {
    background-color: #f74770;
    margin-left: 31px;
}

.working-process_tiles .tile img {
    width: 43px;
    height: 44px;
    margin-top: 54px;
    margin-bottom: 5px;
}

.working-process_tiles .tile h3 {
    margin-block-start: 0;
    font-family: "Open Sans Semibold";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.902);
    line-height: 2.1;
    margin-block-end: 0;
}

.working-process_tiles .tile p {
    display: inline-block;
    margin-block-start: 0;
    margin-top: 7px;
    margin-bottom: 33px;
    font-family: "Open Sans Regular";
    font-size: 15px;
    color: rgba(255, 255, 255, 0.749);
    line-height: 1.467;
    width: 167px;
}

.featured-works {
    height: 1611px;
    background-color: #fbfbfb;
}

.featured-works .block_text {
    padding-top: 123px;
}

.featured-works_tiles {
    margin: 82px 15px 0 15px;
}

.featured-works_tiles .tile {
    background-color: rgb(255, 92, 54);
    width: 360px;
    height: 358px;
    float: left;
    margin-right: 29px;
    margin-bottom: 23px;
}

.featured-works_tiles .tile:nth-child(3),
.featured-works_tiles .tile:nth-child(6),
.featured-works_tiles .tile:nth-child(9) {
    margin-right: 0;
}

.services-we-provide {
    height: 927px;
    background-color: #ffffff;
}

.services-we-provide .block_text {
    padding-top: 140px;
}

.services-we-provide_content {
    margin: 82px 15px 0 15px;
}

.services-we-provide .content_image {
    float: left;
}

.services-we-provide .content_image p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.services-we-provide .content_image img {
    margin: 2px 0 2px 0;
}

.services-we-provide .content_image #shadow {
    box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
}

.services-we-provide .content_text {
    float: left;
    margin: 0 67px 0 126px;
    font-family: "Open Sans Regular";
}

.services-we-provide .content_text h3 {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.749);
    line-height: 1.525;
    margin-block-start: 0;
}

.services-we-provide .content_text #orange_line {
    position: absolute;
    width: 57px;
    height: 3px;
    background-color: #ff5c36;
    transform: translateY(-20px);
}

.services-we-provide .content_text p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.702);
    line-height: 1.563;
    width: 505px;
}

.services-we-provide .content_text .block_button {
    margin: 22px 0 0 0;
}

.services-we-provide_content #apple-watch {
    position: absolute;
    height: 423px;
}

.team-chinen-skills {
    height: 964px;
    background-color: #fbfbfb;
}

.team-chinen-skills .block_text {
    padding-top: 140px;
}

.team-chinen-skills .team-chinen-skills_tiles {
    margin: 82px 15px 0 15px;
}

.team-chinen-skills .team-chinen-skills_tiles .tile {
    background-color: #ff5c36;
    box-shadow: 0px 0px 2px 0px rgba(20, 20, 21, 0.6);
    width: 362px;
    height: 447px;
    float: left;
    margin-right: 27px;
    position: relative;
}

.team-chinen-skills .team-chinen-skills_tiles .tile:nth-child(2) {
    background-color: #fff3f0;
    box-shadow: 0px 0px 49px 0px rgba(20, 20, 21, 0.11);
}

.team-chinen-skills .team-chinen-skills_tiles .tile:nth-child(3) {
    margin-right: 0;
}

.team-chinen-skills .team-chinen-skills_tiles .tile .name-block {
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 16px 0px rgba(20, 20, 21, 0.08);
    position: absolute;
    top: 380px;
    left: 50px;
    width: 262px;
    height: 95px;
    text-align: center; 
}

.team-chinen-skills .team-chinen-skills_tiles .tile .name-block h3 {
    font-family: "Open Sans Semibold";
    font-size: 30px;
    color: rgba(0, 0, 0, 0.702);
    line-height: 1.525;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 12px;
}

.team-chinen-skills .team-chinen-skills_tiles .tile .name-block p {
    font-family: "Open Sans Light";
    font-size: 15px;
    color: rgba(0, 0, 0, 0.702);
    margin-block-start: 0;
    margin-block-end: 0;
}

.team-chinen-skills .team-chinen-skills_tiles .tile .bars {
    text-align: center;
    margin-top: 165px;
}

.team-chinen-skills .team-chinen-skills_tiles .tile .bars label {
    display: block;
    font-family: "Open Sans Regular";
    font-size: 11px;
    color: rgb(0, 0, 0);
    margin: 12px 0 -5px 0;
}

.team-chinen-skills .team-chinen-skills_tiles .tile .name-and-contacts {
    text-align: center;
    margin-top: 60px;
}

.team-chinen-skills .team-chinen-skills_tiles .tile .name-and-contacts h3 {
    font-family: "Open Sans Semibold";
    font-size: 30px;
    color: rgba(32, 32, 32, 0.851);
    line-height: 1.525;
    margin-block-start: 0;
    margin-block-end: 0;
}

.team-chinen-skills .team-chinen-skills_tiles .tile .name-and-contacts p {
    font-family: "Open Sans Light";
    font-size: 15px;
    color: #ff724c;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 12px;
}

.team-chinen-skills .team-chinen-skills_tiles .tile .name-and-contacts img {
    margin: 0 5px 0 5px;
}

.clients-said {
    height: 823px;
    background-color: #ffffff;
}

.clients-said .block_text {
    padding-top: 130px;
}